<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>


  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <table class="post-table">
            <tr><thead><th><%= post.user&.name %> says: <span><%= post.title %></span> at <%= post.created_at %></th></thead></tr>
            <tr><td><%= post.body %></td></tr>
              <tr><td><div class="attr_reader :attr_nameseply-div replies-div">
                <% post.replies.each do |reply| %>
                  <div class="reply-div">
                    <%= reply.user.name %> said this:<br>
                    <div class="reply-body-div">
                      <%= reply.body %>
                    </div>
                    at <%= reply.created_at %>
                  </div>
                <% end %><br>
              </div></td></tr>
          </table>
        </td>

        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
