<!DOCTYPE html>
<html>
  <head>
    <title>CodysCodersAs3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <table id="footer-nav-table"><tr>
        <td><%= link_to 'Users', users_path %></td>
        <td><%= link_to 'Posts', posts_path %></td>
        <td><%= link_to 'Replies', replies_path %></td>
      </tr><tr>
        <td><%= link_to 'New User', new_user_path %></td>
        <td><%= link_to 'New Post', new_post_path %></td>
        <td><%= link_to 'New Reply', new_reply_path %></td>
      </tr>
    </table>
  </body>
</html>
